<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Barhop</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="icon" href="images/logo.png" type="image/png">
</head>
<body>
    <div id="container">
      <header>
        <div class="header1">
          <h1><img src="images/logo.png" alt="Bunny with beer" width=50 height=50 >Barhop</h1> 
        </div>
        <div class="header_partners">
          <h3>Name<img src="images/user.png" alt="User image" width=80 height=40 >
            <img src="images/cart2.png" alt="Cart" width=45 height=40 ></h3>
        </div>
      </header>
      <hr>

      <main>
        <div class="block_register">
          <div class="main1"><h1>Your orders</h1>
            <p>Use a map to find the closest location for you, or search for your favourite bars, and don't forget to choose a comfortable date!</p>
            </div>        
        </div>
        
        <div class="orderblock">
            <h2><b>Browse Bars Deals</b></h2>

            <div class="search">
                <div class="people"> <img src="images/users.png" alt="picture of people" width=30 height=30 ></div>
                <div class="city"> 
                    <img src="images/map.png" alt="pointer for the map" width=30 height=30 >
                    <input type="text" name="myCity" id="myCity" placeholder="City" required>
                </div>
                <div class="date">
                    <input type="date" name="myDate" id="myDate"> 
                    <img src="images/calendar.png" alt="calendar" width=30 height=30 >
                </div>
                <div> <button>Search</button> </div>
            </div>

            <div class="deals">
                <div class="deal">  
                    <img src="images/square.png" alt="square" width=50 height=50 >
                    <h2><b>Bar Name</b></h2>
                    <p>Description of the bar, catchy information about <br>their deals which they are provided.</p>
                    <button>Add</button>
                  </div>
        
                  <div class="deal">  
                    <div class="image"><img src="images/square.png" alt="square" width=50 height=50 ></div>
                    <h2><b>Bar Name</b></h2>
                    <p>Description of the bar, catchy information about <br>their deals which they are provided.</p>
                    <button>Add</button>
                  </div>
        
                  <div class="deal">  
                    <img src="images/square.png" alt="square" width=50 height=50 >
                    <h2><b>Bar Name</b></h2>
                    <p>Description of the bar, catchy information about <br>their deals which they are provided.</p>
                    <button>Add</button>
                  </div>

                  <div class="deal">  
                    <div class="image"><img src="images/square.png" alt="square" width=50 height=50 ></div>
                    <h2><b>Bar Name</b></h2>
                    <p>Description of the bar, catchy information about <br>their deals which they are provided.</p>
                    <button>Add</button>
                  </div>
        
                  <div class="deal">  
                    <img src="images/square.png" alt="square" width=50 height=50 >
                    <h2><b>Bar Name</b></h2>
                    <p>Description of the bar, catchy information about <br>their deals which they are provided.</p>
                    <button>Add</button>
                  </div>
            </div>
 
        </div>

        <div class="bottomblock">
          <div class="title">Total: $20.00</div>
            <button>Checkout</button>
        </div>
    </main>
    
    </div>
</body>
</html>